[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pywin32-ctypes = "*"
pyinstaller = "==v6.7.0"
ebookmaker = "==0.12.43"

[requires]
python_version = ">=3.8"
