[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pywin32-ctypes = "*"
pyinstaller = "==4.1"
ebookmaker = "==0.10.1"

[requires]
python_version = "3.8"
